<div class="list-group">
    <div class="list-group-item list-item">
        <div data-toggle="collapse" data-parent="#listGroup" href="#co" class="pointer">
            <div class="media-left datem" title="作品展示/技术交流">
                <i class="fa fa-file-text-o"></i>
            </div>
            <div class="media-body item-body">
                <div class="media-heading">
                    <span class="title">从 0 到 1 搭建移动 App 功能自动化测试平台 (3)：编写 iOS 自动化测试脚本</span>
                    <i class="fa fa-star text-gold" title="精华"></i>
                </div>
                <div class="media-body">
                    <div class="title-i" title="发布者"><i class="fa fa-edit"></i>&nbsp;London </div>
                    <span class="title-i" title="发布时间"><i class="fa fa-clock-o"></i>2016-06-22 15:32:01 </span>
                </div>
            </div>
            <div class="plus media-right">
                <span class="plus-tag"><i class="fa fa-plus"></i></span>
            </div>
        </div>
        <div id="co" class="collapse">
            <div class="accordion-inner">
                <div class="media-left">
                    <a href="#"><img src="/img/default-icon.jpg" alt="" class="item-img" /></a>
                </div>
                <div class="media-body item-detail">
                    <table>
                        <tr><td>作者类型: </td><td>团队</td></tr>
                        <tr><td>作者: </td><td><a href="#">创客空间</a></td></tr>
                        <tr><td>文章类型: </td><td>作品展示/技术交流</td></tr>
                        <tr><td>总回复数: </td><td>0</td></tr>
                        <tr><td>最近回复者: </td><td>wanglei</td></tr>
                        <tr><td>最近回复时间: </td><td>2016-07-22 06:03:11</td></tr>
                    </table>
                    <a href="#" title="阅读文章">&nbsp;Read More&nbsp;<i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
