<div class="row">
    <div class="col-md-6 col-sm-6 " title="团队交流">
        <div class="divider-wrapper divider-one">
            <a href="javascript:void(0);" class="test">
    			<i class="fa fa-beer"></i>
    			<h2>Teams Show</h2>
    			<p>团队交流，关于各个创客团队的技术交流、作品展示、休闲娱乐、活动发起以及团队宣传.</p>
            </a>
		</div>
    </div>
    <div class="col-md-6 col-sm-6" title="工作室">
        <div class="divider-wrapper divider-three">
            <a href="javascript:void(0);" class="test">
    			<i class="fa fa-desktop"></i>
    			<h2>Work House</h2>
    			<p>工作室，关于团队的申请与创建、团队管理、内部的交流会议、创新项目以及开发安排.</p>
            </a>
		</div>
    </div>
    <div class="col-md-4 col-sm-6 " title="个人交流">
        <div class="divider-wrapper divider-two">
            <a href="javascript:void(0);" class="test">
                <i class="fa fa-user"></i>
                <h2>Personal</h2>
                <p>个人交流，关于个人的技术交流、疑问解答、作品展示、生活秀以及用人单位的招聘需求.</p>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6" title="资源分享">
        <div class="divider-wrapper divider-four">
            <a href="javascript:void(0);" class="test">
        		<i class="fa fa-cloud-download"></i>
        		<h2>Resource</h2>
        		<p>资源分享，用于提供团队、个人和官方用于进行干货、理论及成果分享的平台.</p>
            </a>
    	</div>
    </div>
    <div class="col-md-4 col-sm-12 " title="官方区域">
        <div class="divider-wrapper divider-five">
            <a href="javascript:void(0);" class="test">
        		<i class="fa fa-list-alt"></i>
        		<h2>FAQ</h2>
        		<p>官方区域，展示网站的相关公告、相关新闻、公共活动以及关于用户的意见留言及反馈.</p>
            </a>
    	</div>
    </div>
</div>
