<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://fonts.useso.com/css?family=Audiowide" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <!-- Icon CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <title>Account</title>
</head>

<body>
    <%- include('./common/header.html') -%>
    <div class="bdbody row" style="background: #F7F6F2;">

        <!-- Left Menu -->
        <div class="col-xs-2 left-menu">
            <header class="header item">
                账户
                <article>
                    包括用户账户、个人以及团队设置信息
                </article>
            </header>
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i><span>概览</span></a></li>
                <li><a href="#"><i class="fa fa-user"></i><span>账户信息</span></a></li>
                <li><a href="#"><i class="fa fa-sitemap"></i><span>团队管理</span></a></li>
                <li><a href="#"><i class="fa fa-lock"></i><span>安全设置</span></a></li>
            </ul>
        </div>
        <% if (pageType == "overview") { %>
            <%- include('./common/overview.html') -%>
        <% } %>
    </div>
    <div id="backtotop">回到顶部</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/lib/react.js"></script>
    <script src="/js/lib/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/babel" src="/js/common.js"></script>
</body>

</html>
